.no-cart{
height: 100px;
text-align: center;
vertical-align: middle;
line-height: 100px;
border: 1px solid #343A40;
}

.table{
    width: 100%;
    min-height: 200px;
}

.center{
    text-align: center;
}